---
import "@/styles/tailwind.css"
import { ViewTransitions } from "astro:transitions"

import CoreNavbar from "./elements/CoreNavbar.astro"
import Fonts from "./meta/Favicons.astro"
import Favicons from "./meta/Favicons.astro"

import { appConfig } from "@/config/app"
import AlpineInit from "@/providers/AlpineInit.astro"

const { brand } = appConfig

export type Props = {
  title?: string
  desc?: string
}

const { title, desc } = Astro.props
---

<html lang="en">
  <head>
    <title>{title !== undefined ? `${title} | ${brand.name}` : brand.name}</title>
    <meta name="description" content={desc ?? brand.desc.default} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <Fonts />
    <Favicons />
    <ViewTransitions />
  </head>
  <body>
    <AlpineInit>
      <CoreNavbar />
      <slot />
    </AlpineInit>
  </body>
</html>
